projetARClient/.classpath
projetARClient/.settings/*
projetARClient/.project
projetARClient/bin/*
projetARServer/.classpath
projetARServer/.settings/*
projetARServer/.project
projetARServer/bin/*
projetARServer/src/rmi/*.class
projetARServer/src/rmi/*.class

*.class
